/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroText {
  flex: 1;
  text-align: left;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
}

.heroImage img {
  max-width: 100%;
  height: auto;
}